<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= receta.nombre  %></title>

    <%- include('./partials/links') %>

    <style>
        body {
            background-color: #85FFBD;
            background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

        }
    </style>
</head>

<body>

    <%- include('./partials/navbar') %>
    <div class="container">
        <div class="row">
    
            <div class="col-12">
    
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><b><%= receta.nombre  %></b></h5>
                        <h6 class="card-subtitle mb-2 text-muted">Nacionalidad: <%= receta.nacionalidad  %> || <%= receta.tiempo  %></h6>
                        <br>
                        <h6> <b>Ingredientes</b></h6>
                        <p class="card-text"> <%= receta.ingredientes  %></p>
                        <br>
                        <h6> <b>Preparacion</b> </h6>
                        <p class="card-text"> <%= receta.preparacion  %></p>
                    </div>
                </div>
                <br><br><br><br>
    
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>